.card {
  background-color: var(--bg-100);
  border: solid 0.1rem var(--opaque-50);
  box-shadow: var(--shadow-100);
}

.carousel {
  background-color: var(--bg-200);
}

.carouselImage {
  border-radius: 0.25em 0.25em 0 0;
}

.cardHeader {
  border-bottom: solid 0.1rem var(--opaque-50);
}

@media (min-width: 768px) {
  .card {
    max-width: 30em;
    margin: 0 auto;
    /* flex: 0.5; */
  }
  .carousel {
    max-width: 30em;
  }
}

@media (min-width: 992px) {
  .card {
    max-width: 65em;
    width: 100%;
  }

  .carouselImage {
    border-radius: 0.25em 0 0 0.25em;
  }
}
