.listitem {
  display: flex;
  gap: 2%;
}

.card {
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.image {
  width: 40%;
}

.badge {
  padding: 1%;
  margin-inline-end: 1%;
}

.mybtn {
  margin: 2% 0;
}
