/* Ignore the clamp from linting inlining */

.homePage {
  --text-200: var(--lightest-grey);
  --home-text: rgb(211, 211, 211);

  height: 100vh;
  color: var(--home-text);
  background-color: rgb(0, 0, 2);
}

.container {
  background:
    url('/src//assets/images/hero-bg-mobile.webp') no-repeat center
    center/cover;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 2, 0.15);
}

.title {
  font-size: 6.5em;
  /* stylelint-disable-next-line csstree/validator */
  font-size: clamp(4.25rem, 17vw, 10.5rem);
  line-height: 1;
  color: var(--text-200);
  max-width: 15em;
  margin: 0 auto;
}

.title span {
  display: block;
}

.title span:first-child {
  letter-spacing: 0.15em;
  font-weight: 800;
}

.title span:last-child {
  font-size: 0.265em;
  /* stylelint-disable-next-line csstree/validator */
  font-size: clamp(1.125rem, 4.5vw, 2.8125rem);
  letter-spacing: 0.5em;
  font-weight: 400;
}

.description {
  font-size: 1.125em;
}

@media (min-width: 992px) {
  .container {
    background-image: url('/src//assets/images/hero-bg-desktop.webp');
  }
}
