.myProfileHeader {
  margin: 5em 0 2.5em;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.myProfileBio,
.myProfileDescription {
  background-color: var(--bg-100);
  border: solid 0.1em var(--bg-300);
}

.myProfileBioImage {
  width: 10em;
}

.myProfileBioImage img {
  border-radius: 0.25em;
  width: 100%;
}

.myProfileTitle {
  font-size: 3.5em;
  line-height: 1;
}

.myProfileMetrics {
  font-size: 0.75rem;
  /* background-color: var(--bg-200); */
}

.myProfileMetric > span:last-child {
  font-size: 0.75em;
}

.myProfileMetric svg {
  font-size: 3.5em;
  color: var(--primary);
  stroke-width: 1;
}

.myProfileMetricValue {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 1.125em;
  font-weight: 600;
}

@media (min-width: 576px) {
  .myProfileBioImage {
    width: 23vw;
    max-width: 15em;
    min-width: 10em;
  }
}
