.myProfileHeader {
  margin: 5em 0 2.5em;
}

.myProfileBio {
  background-color: var(--bg-400);
}

.myProfileBioImage {
  width: 10em;
}

.myProfileBioImage img {
  border-radius: 0.25em;
  width: 100%;
}

.myProfileTitle {
  font-size: 3.5em;
  line-height: 1;
}

@media (min-width: 576px) {
  .myProfileBioImage {
    width: 20vw;
    max-width: 15em;
  }
}

/* .missionItem {
  font-size: 1.25em;
  line-height: 1;
}

.missionItem:not(:last-child) {
  border-bottom: solid 1px lightgray;
}

.readMore {
  text-decoration: none;
  font-size: 0.65em;
  font-weight: 600;
  color: rgb(10, 169, 201);
}

.readMore:hover {
  text-decoration: underline;
}

.emptyListMessage {
  height: 25vh;
  max-height: 10rem;
  display: grid;
  place-items: center;
}

.cancelBtn {
  text-align: right;
} */
