.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--clr-white);
  margin-bottom: 1rem;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  border-bottom: solid 0.125rem var(--clr-dark-opaque-100);
}

.logo {
  font-size: 1.75em;
  line-height: 1;
  color: var(--clr-dark);
  padding: 0.25em 0;
  display: flex;
  align-items: center;
}

.logo img {
  width: 1.75em;
}

.logoName {
  display: inline-block;
  margin-left: 1rem;
}

.logoName span:first-child {
  letter-spacing: 0.125em;
}

.logoName span:last-child {
  display: block;
  font-size: 0.5em;
}

.navList {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  font-size: 1.05em;
  font-weight: 500;
  line-height: 1.7;
}

.navList li:nth-child(3) {
  position: relative;
}

.navList li:nth-child(3)::before {
  content: '|';
  position: absolute;
  left: -1em;
  top: 50%;
  translate: 0 -50%;
}

.link {
  position: relative;
  padding: 0 0.25em;
  transition: color 100ms ease-in-out;
}

.link::before {
  --dimension: 0.125rem;

  content: '';
  position: absolute;
  bottom: -1em;
  left: 50%;
  translate: -50% 0;
  width: var(--dimension);
  height: var(--dimension);
  transition: background-color 100ms ease-in-out, width 200ms ease-in-out;
}

.link:hover {
  color: var(--clr-dark);
}

.navList li:last-child .link {
  font-size: 1.5em;
}

.navList li:last-child .link:last-child::before {
  display: none;
}

.mobileNav {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  text-align: center;
  background-color: var(--clr-white);
}

.option {
  font-size: 1.5em;
  color: var(--clr-dark);
  width: 100%;
}

.option:hover {
  color: var(--clr-dark);
  background-color: var(--clr-light-grey);
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}

.option:active {
  color: var(--clr-white);
  background-color: var(--clr-dark);
}

.hamburger {
  border: 0;
  background-color: transparent;
}

.stroke {
  display: block;
  position: relative;
  width: 2rem;
  height: 0.25rem;
  background-color: var(--clr-dark);
}

.stroke:not(:last-child) {
  margin-bottom: 0.25rem;
}

.open .stroke1 {
  top: 0.5rem;
  rotate: -45deg;
}

.open .stroke2 {
  opacity: 0;
}

.open .stroke3 {
  top: -0.5rem;
  rotate: 45deg;
}

.close .stroke1 {
  top: 0;
  rotate: 0deg;
}

.close .stroke2 {
  opacity: 1;
}

.close .stroke3 {
  top: 0;
  rotate: 0deg;
}
