.modalOverlay {
  backdrop-filter: blur(0.125em);
}

.modal {
  background-color: var(--bg-100);
}

.close {
  color: var(--text-200);
  background-color: var(--bg-300);
  font-size: 1.25em;
}

.modalBody {
  color: var(--text-200);
}

.header,
.footer {
  border-color: var(--opaque-100);
  border-width: 0.125em;
}
