.header {
  background-color: var(--clr-white);
  margin-bottom: 1rem;
  border-bottom: solid 1px var(--clr-light-grey);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.logo {
  font-size: 2em;
  line-height: 1.4;
  color: var(--clr-blue);
  padding-bottom: 0.25em;
}

.logoName {
  display: none;
}

@media (min-width: 64em) {
  .logoName {
    display: inline-block;
    margin-left: 1rem;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-size: 1.05em;
  font-weight: 500;
  line-height: 1.7;
}

.links a {
  padding: 1.5rem 0.5rem;
  transition: color 150ms ease-in-out;
}

.links a:hover {
  color: var(--clr-dark);
}
