.footer {
  background-color: transparent;
}

.footer > div {
  border-top: solid 0.1rem var(--bg-300);
  padding: 1em 0 10em;
}

.homeFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.homeFooter > div {
  padding: 1em 0;
}

.footer a {
  color: var(--text-300);
}

.footer a:hover {
  color: var(--primary);
}
