.missionList {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr;
  gap: 1rem;
}

.missionList:hover {
  grid-template-rows: 1fr;
}

.missionCard {
  border: solid 0.1rem var(--opaque-50);
  background-color: var(--bg-100);
  box-shadow: var(--shadow-100);
}

.missionCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  bottom: 0;
  width: 0;
  opacity: 0;
  background-color: var(--opaque-contrast-300);
  border-radius: inherit;
  z-index: 1;
  transition: width 10ms ease-in-out, opacity 0.3s 20ms ease-in-out;
}

.missionCard[data-reserved='true'] {
  border-color: transparent;
  background-color: var(--bg-300);
  box-shadow: none;
}

.missionCard[data-reserved='true']::before {
  width: 100%;
  opacity: 1;
}

.missionCard[data-reserved='true'] .missionCardBadge {
  border-color: var(--primary);
}

.missionCard[data-reserved='true'] .missionCardFooter {
  background-color: var(--bg-200);
}

.missionCardBadge {
  background-color: var(--bg-200);
  border: solid 0.1rem transparent;
  z-index: 1;
}

.missionCard:hover::before {
  width: 0;
  opacity: 0;
  transition: width 10ms 0.3s ease-in-out, opacity 0.3s 0s ease-in-out;
}

.missionCardBadge svg {
  font-size: 1.25rem;
}

.missionCardBadge[data-reserved='true'] {
  color: var(--text-200);
}

.missionCardBadge[data-reserved='true'] svg {
  fill: var(--gold);
}

.missionCardDescription a {
  font-size: 0.85em;
}

.missionCardCta {
  width: max-content;
}

.missionCard button[class*='tertiary'] svg {
  transform: scaleX(-1);
}

.missionCardFooter {
  background-color: var(--bg-200);
}

.leaveMissionModalContent p {
  color: var(--danger);
  border-top: 0.1em solid var(--opaque-50);
  border-bottom: 0.1em solid var(--opaque-50);
}

@media (min-width: 1200px) {
  .missionList {
    grid-template-columns: repeat(2, 1fr);
  }
}
