.missionList {
  --gold: #ffc107;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr;
  gap: 1rem;
}

.missionList:hover {
  grid-template-rows: 1fr;
}

.missionCard {
  border: solid 0.1rem var(--opaque-50);
  background-color: var(--bg-100);
  box-shadow: var(--shadow-100);
}

.missionCard[data-reserved='true'] {
  border-color: transparent;
  background-color: var(--bg-300);
  box-shadow: none;
}

.missionCard[data-reserved='true'] .missionCardFooter {
  background-color: var(--bg-200);
}

.missionCard[data-reserved='true'] .missionCardLink a {
  background-color: var(--opaque-50);
}

.missionCardBadge {
  background-color: var(--bg-200);
  border: solid 0.1rem transparent;
}

.missionCardBadge svg {
  font-size: 1.25rem;
}

.missionCardBadge[data-reserved='true'] {
  color: var(--text-200);
}

.missionCardBadge[data-reserved='true'] svg {
  fill: var(--gold);
}

.missionCardDescription a {
  font-size: 0.85em;
}

.missionCardCta {
  width: max-content;
}

.missionCard button[class*='tertiary'] svg {
  transform: scaleX(-1);
}

.missionCardFooter {
  background-color: var(--bg-200);
}

.missionCardLink a {
  --dimension: 1.75rem;

  width: var(--dimension);
  height: var(--dimension);
  background-color: var(--bg-300);
  transition: background-color var(--transition-100) ease-in-out,
    color var(--transition-100) ease-in-out;
}

.missionCardLink a:hover {
  color: var(--text-200);
  background-color: var(--bg-400);
}

@media (min-width: 1200px) {
  .missionList {
    grid-template-columns: repeat(2, 1fr);
  }
}
