.missionList {
  --gold: #ffc107;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr;
  gap: 1rem;
}

.missionList:hover {
  grid-template-rows: 1fr;
}

.missionCard {
  border: solid 0.1rem var(--opaque-50);
  background-color: var(--bg-100);
}

.missionCard[data-reserved='true'] {
  border-color: var(--opaque-100);
  background-color: var(--bg-400);
}

.missionCard[data-reserved='true'] footer {
  background-color: var(--bg-300);
}

.missionCardBadge {
  background-color: var(--bg-200);
  border: solid 0.1rem transparent;
}

.missionCardBadge svg {
  font-size: 1.25rem;
}

.missionCardBadge[data-reserved='true'] {
  color: var(--text-200);
  background-color: var(--bg-300);
}

.missionCardBadge[data-reserved='true'] svg {
  fill: var(--gold);
}

.missionCardDescription {
  transition: height 0.5s;
}

.missionCardCta {
  width: max-content;
}

.missionCard button[class*='tertiary'] svg {
  transform: scaleX(-1);
}

.missionCard footer {
  background-color: var(--bg-200);
}

@media (min-width: 1200px) {
  .missionList {
    grid-template-columns: repeat(2, 1fr);
  }
}
