@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@400;500;600;800&display=swap');

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  --primary-dark: rgb(4, 167, 164);
  --primary: rgb(0, 213, 196);

  --dark: rgb(27, 27, 27);
  --darkest-grey: rgb(32, 32, 32);
  --darker-grey: rgb(38, 38, 38);
  --dark-grey: rgb(50, 50, 50);
  --grey: rgb(135, 135, 135);
  --light-grey: rgb(230, 230, 230);
  --lighter-grey: rgb(244, 244, 244);
  --lightest-grey: rgb(249, 249, 249);
  --white: rgb(255, 255, 255);

  --bg-100: var(--white);
  --bg-200: var(--lightest-grey);
  --bg-300: var(--lighter-grey);
  --bg-400: var(--light-grey);

  --text-100: var(--darkest-grey);
  --text-200: var(--dark-grey);
  --text-300: var(--grey);

  --opaque-50: rgba(27, 27, 27, 0.05);
  --opaque-100: rgba(27, 27, 27, 0.1);
  --opaque-200: rgba(27, 27, 27, 0.3);

  --transition-100: 100ms;
  --transition-200: 150ms;

  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Mukta Vaani', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.95em;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-300);
  min-width: 25em; /* 400px */
  background-color: var(--bg-100);
}

body[data-theme='dark'] {
  --bg-100: var(--dark);
  --bg-200: var(--darkest-grey);
  --bg-300: var(--darker-grey);
  --bg-400: var(--dark-grey);

  --text-100: var(--lightest-grey);
  --text-200: var(--light-grey);

  --opaque-50: rgba(249, 249, 249, 0.05);
  --opaque-100: rgba(249, 249, 249, 0.1);
  --opaque-200: rgba(249, 249, 249, 0.3);
}

body * {
  transition: background-color var(--transition-200) ease-in-out,
    color var(--transition-200) ease-in-out;
}

@media (min-width: 64em) {
  body {
    font-size: 1em;
  }
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--text-100);
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

@media (min-width: 768px) {
  .active {
    color: var(--text-100);
  }

  .active::before {
    background-color: var(--text-100);
    width: 100%;
  }

  .active .myProfile svg {
    border-radius: 50%;
    outline: solid 0.075rem var(--text-100);
    outline-offset: 3px;
    transition: outline-offset 100ms ease-in-out;
  }

  .myProfile {
    display: inline-block;
    position: relative;
  }

  .myProfileText {
    font-size: 0.35em;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    width: max-content;
    opacity: 0;
    transition: bottom 100ms ease-in-out;
  }

  .active .myProfileText {
    bottom: -1.625em;
    opacity: 1;
  }
}

.main {
  background-color: var(--bg-200);
}

.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
